<mat-spinner *ngIf="processing" class="spinner" diameter="500"></mat-spinner>

<div class="side-menu">
  <mat-accordion displayMode="default" togglePosition="after">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title >
          <div class="title">Seleção de modo de exibição</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-chip-listbox>
        <mat-chip-option
          [selected]="show.matrix2d"
          (click)="selectOption('matrix2d')"
        >
          Matrix 2D
        </mat-chip-option>
        <mat-chip-option
          [selected]="show.circle2d"
          (click)="selectOption('circle2d')"
        >
          Circulo 2D
        </mat-chip-option>
        <mat-chip-option
          [selected]="show.matrix3d"
          (click)="selectOption('matrix3d')"
        >
          Cubo 3D
        </mat-chip-option>
        <mat-chip-option
          [selected]="show.fa22D"
          (click)="selectOption('fa22D')"
        >
          ForceAtlas2 2D
        </mat-chip-option><mat-chip-option
          [selected]="show.fa23D"
          (click)="selectOption('fa23D')"
        >
          ForceAtlas2 3D
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">Opções de navegação</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Conteúdo dentro do expansion panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">Caminho achado</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Conteúdo dentro do expansion panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">Estátisticas grupo: {{this.nome}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="status" *ngFor="let st of status">
        <h4>Labirinto: {{st.labirinto}}</h4>
        <p>Passos: {{st.passos}}</p>
        <p>Exploração: {{st.exploracao}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-config-2d [nList]="matrix2DMap" *ngIf="show.matrix2d"/>
<app-config-2d [nList]="circle2DMap" *ngIf="show.circle2d"/>
<app-config-3d [nList]="matrix3DMap" *ngIf="show.matrix3d"/>
<app-config-2d [nList]="fa22DMap" *ngIf="show.fa22D"/>
<app-config-3d [nList]="fa23DMap" *ngIf="show.fa23D"/>
